@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

//shop variables
$brand-color: #0031F0;
$background-color: #F2F2F2;
$border-color: #C7C7C7;
$font-dark: #242424;
$font-light: #A5A5A5;
$link-color: #2650EF;
$black: #121212;
$disc-price: #FF6472;
$radio-button: #FF6472;
$radio-button-disabled: rgba(255, 100, 113, 0.400);
$danger-color: rgb(251, 57, 73);
$disc-price-pro: #A5A5A5;
$other-font-color: #5E5E5E;
$title-color: #8E8E8E;
$address-card-border-color: #E8E8E8;
$bold-color: #3A3A3A;
$sticker-color: #2ED04C;
$stock-color: #4CAF50;
$rating-color: #FC6868;
$star-color: #d4d4d4;
$error-color: #ff5656;
$line-bar-color: #D8D8D8;
$btn-background-color: #fff;
$info-color: #204d74;
$ltgray: lightgray;
$listcolor: #333333;
$spnr-color: #bababa;
$shadow-color: #ccc;
$shadow-color1: #cccccc;
$outline-hvr: #eaeaec;
$review-details: #5e5e5e;
$slider-color: rgb(255, 100, 114);
//shop variables ends here

//
$font-montserrat: "Montserrat", sans-serif;
